{% extends 'base-pos.html' %}
{% load humanize %}
{% block contents %}
<!-- Modal Memilih Barang-->
<div class="modal fade" id="daftarTransaksi" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticDaftarTransaksi" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        {% if jumlah_penjualan_pending > 0 %}<h5 class="modal-title fw-bold" id="staticDaftarTransaksi">Pending Transaksi [{{jumlah_penjualan_pending|intcomma}}]</h5>{%endif%}
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% if jumlah_penjualan_pending > 0 %}
            <p><input type="text" placeholder="nomor transaksi...." style="z-index: -4;" autofocus class="border border-secondary form-control search-pending"></p>
        {% endif %}
        <div style="min-height: 300px;max-height: 300px;" class="overflow-auto p-2 border rounded shadow">
            {% if jumlah_penjualan_pending > 0 %}
                <table class="table" id="tablePendingTransaksi">
                    <tbody>
                        {% for penjualan in penjualan_pending %}
                            <tr>
                                <td class="fw-bold">
                                    <div>
                                        <span>ID: {{penjualan.nota}}</span><br>
                                        <span style="font-size: 12px;">dibuat: <i>{{penjualan.created_at|date:"d M Y"}}</i></span><br>
                                        <span style="font-size: 12px;">{{penjualan.items|intcomma}} barang, Total Rp.{{penjualan.total|intcomma}}</span>
                                    </div>
                                    <div>
                                        <a href="{% url 'index_pos'%}?nota={{penjualan.nota}}" class="btn btn-sm m-1 btn-success">proses</a>
                                        <a href="{% url 'hapus_transaksi'%}?nota={{penjualan.nota}}" class="btn btn-sm btn-danger m-1">hapus</a>
                                    </div>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="text-center fst-italic">
                    Belum Ada Pending Transaksi...
                </div>
            {% endif %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>

      </div>
    </div>
  </div>
</div>

<!-- Modal Memilih Barang-->
<div class="modal fade" id="modalBarang" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold" id="staticBackdropLabel">Tambah Barang [{{jml_barang|intcomma}}]</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><input type="text" placeholder="cari barang..." style="z-index: -4;" autofocus class="border border-secondary form-control search-barang"></p>
        <div style="min-height: 300px;max-height: 300px;" class="overflow-auto p-2 border rounded shadow">
            <table class="table" id="tableMasterBarang">
                <tbody>
                    {% for bar in barang %}
                        <tr>
                            <td>{{bar.nama|title}} ({{bar.satuan}})</td>
                            <td><a href="{% url 'tambah_barang_pos'%}?nota={{nota}}&id={{bar.id}}" class="btn btn-success">+Tambah</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>

      </div>
    </div>
  </div>
</div>

<!-- Modal Payment-->
<div class="modal fade" id="modalPayment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropPayment" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold" id="staticBackdropPayment">Pembayaran</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'bayar_transaksi'%}?nota={{nota}}" method="post">
        {% csrf_token %}
        <div class="modal-body">
            <div>
                <label style="min-width: 130px;">Total Belanja:</label> <strong>Rp.{{total|intcomma}}</strong>
            </div>
            <div class="mt-3">
                <span >
                    <label for="metode" style="min-width: 130px;">Pembayaran:</label>
                </span>
                <select name="metode" id="metode" required>
                    <option value="">--------</option>
                    <option value="0">Cash</option>
                    <option value="1">Transfer</option>
                </select>
            </div>
            <div class="mt-3">
                <span >
                    <label for="pembeli" style="min-width: 130px;" >Pembeli:</label>
                </span>
                <input type="text" name="pembeli" id="pembeli" required>
            </div>
        </div>
        <div class="modal-footer d-flex justify-content-end">
            <button type="button" class="btn btn-secondary mx-2" data-bs-dismiss="modal">Tutup</button>
            <button type="submit" class="btn btn-success mx-2" >Bayar</button>

        </div>
      </form>
    </div>
  </div>
</div>

{% if user.is_authenticated %}
    <div>
        {% if nota %}
        <div class="p-2  my-2 border rounded rounded-3">
            <div class="p-2">
                <span class="fw-bold fs-6">ID Transaksi: <span class="fs-">{{nota}}</span></span>
            </div>
            <div class="d-flex justify-content-end">
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle btn-sm mt-2 mx-2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      5 Trx
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1"  style="max-height: 200px;overflow-y: scroll;">
                        {% for trans in limapenjualan %}
                        <li><a class="dropdown-item" target="_blank" href="{% url 'detail_penjualan_histori' %}?id={{trans.nota}}">No. Nota: {{trans.no_nota}}<br>Cust: {{trans.customer}}<br>Total: Rp.{{trans.total|intcomma}}</a></li>
                        <hr>
                        {% endfor %}
                    </ul>
                </div>
                <a href="{% url 'index_pos'%}" class="btn-sm btn-info btn mx-1 mt-2">+Baru</a>
                {% if jumlah_penjualan_pending > 0 %}
                    <a href="#" class="btn-sm btn-warning btn mt-2 mx-1"  data-bs-toggle="modal" data-bs-target="#daftarTransaksi">Pending&rarr;</a>
                {% endif %}
                {% if user.is_superuser %}<a href="/cms/" class="btn-sm btn-primary btn mt-2 mx-1">Admin&rarr;</a>{% endif%}
                <a href="/logout/" class="btn-sm btn-info btn mx-1 mt-2">logout&rarr;</a>
            </div>
        </div>
        {% else %}
        <div class="text-end my-2 d-flex justify-content-end">
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle btn-sm mt-2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  5 Trx
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="max-height: 200px;overflow-y: scroll;">
                    {% for trans in limapenjualan %}
                    <li><a class="dropdown-item" target="_blank" href="{% url 'detail_penjualan_histori' %}?id={{trans.nota}}">No. Nota: {{trans.no_nota}}<br>Cust: {{trans.customer}}<br>Total: Rp.{{trans.total|intcomma}}</a></li>
                    <hr>
                    {% endfor %}
                </ul>
            </div>
            {% if jumlah_penjualan_pending > 0 %}
                <a href="#" class="btn-sm btn-warning btn mt-2 mx-1" data-bs-toggle="modal" data-bs-target="#daftarTransaksi">Pending&rarr;</a>
            {% endif%}
            {% if user.is_superuser %}<a href="/cms/" class="btn-sm btn-primary btn mt-2 mx-1">Admin&rarr;</a>{% endif%}
            <a href="/logout/" class="btn-sm btn-info btn mx-1 mt-2">logout&rarr;</a>
        </div>
        {% endif %}
        <table class="table">
            <thead  class="border-bottom border-secondary">
                    <td colspan="3" class=" border rounded border-dark">
                        <input type="text" name="" class="search form-control border-secondary" placeholder="cari nama barang" id="">
                    </td>
                    <td class="border border-dark fw-bold text-center">
                        {{jumlah_item|intcomma}} Item
                    </td>
                    <td class="text-center border rounded-end border-dark">
                        <a href="" class="btn btn-sm text-white" style="background-color: purple;" data-bs-toggle="modal" data-bs-target="#modalBarang">+Tambah Barang</a>
                    </td>
                    
            </head>
        </table>

        {% if nota %}
        <table class="table" id="tableBarang">
            <thead>
                <th>No.</th>
                <th>Nama Barang</th>
                <th class="text-center">Jumlah</th>
                <th class="text-end" style="width: 300px;">Harga</th>
                <!-- <th class="text-end">Total</th> -->
            </thead>
            <tbody>
                
                {% for jual in penjualandetail %}
                    <tr class="">
                        <td class="text-start ps-2 fw-bold" style="font-size: 15px;">{{forloop.counter}}</td>
                        <td class="fw-bold" style="font-size: 15px;">{{jual.barang.nama|title}} ({{jual.barang.satuan}})</td>
                        <td >
                            <div class="d-flex justify-content-center align-items-center">
                                
                                <form class="justify-content-center d-flex" action="{% url 'ubah_items'%}?nota={{nota}}&id={{jual.barang.id}}" method="post">
                                    {% csrf_token %}
                                    <input type="number" name="jumlah" id="" class="rounded text-center border-secondary form-control" value="{{jual.jumlah}}" min="0" >
                                    <button type="submit"class="btn btn-sm btn-secondary d-block d-lg-none d-xl-none d-md-none"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                </form>
                                <!-- <a class="btn btn-success m-2" href="{% url 'tambah_items'%}?nota={{nota}}&id={{jual.barang.id}}">+</a> -->
                            </div>

                        </td>
                        <td class="fw-bold text-end" style="font-size: 15px;">
                            <div class="d-flex justify-content-end">
                                <div class="w-100 py-1 justify-content-end">
                                    {% if jual.is_open %}
                                        Rp. <input type="number" hx-get="{% url 'update_barang_satuan'%}?nota={{nota}}&id={{jual.id}}" hx-trigger="keyup delay:5s" hx-target="body" name="harga_baru" required value="{{jual.harga}}" min="0" style="width: 150px;" id="">.00
                                    {% else %}
                                        Rp. {{jual.harga|intcomma}}.00
                                    {% endif %}
                                </div>
                                {% if user.is_superuser %}
                                    <div style="font-size: 20px;width: 30px;text-align: center;">
                                        {% if jual.is_open %}
                                            <a href="{% url 'ganti_status_open'%}?nota={{nota}}&id={{jual.id}}&status=0" style="text-decoration: none;color: green;padding-left: 5px;"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                        {% else %}
                                            <a href="{% url 'ganti_status_open'%}?nota={{nota}}&id={{jual.id}}&status=1" style="text-decoration: none;color:blue;padding-left: 5px;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        {% endif %}
                                    </div>
                                {% endif%}
                                <a style="text-decoration: none;color: red;padding-left: 5px; font-size: 18px;" href="{% url 'hapus_items'%}?nota={{nota}}&id={{jual.barang.id}}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                            
                        </td>
                        <!-- <td class="fw-bold text-end" style="font-size: 15px;">Rp. {{jual.total|intcomma}}.00</td> -->
                    </tr>
                    <tr class="border-bottom border-secondary">
                        <td style="background-color: lightgrey;"></td>
                        <td class="fs-6 fw-bold text-start" style="background-color: lightgrey;">
                            {{jual.jumlah|intcomma}} x @Rp.{{jual.harga|intcomma}}.00
                        </td>
                        <td class="fs-6 fw-bold text-end" colspan="2" style="background-color: lightgrey;">
                            Rp. {{jual.total|intcomma}}.00           
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <div class="d-flex justify-content-center pt-3">
                            <a href="{% url 'hapus_transaksi'%}?nota={{nota}}" class="btn btn-sm btn-danger rounded-pill px-4 mx-4">Hapus Transaksi</a>
                            {% if bisa_transaksi %}
                                <a href="#" class="btn btn-sm btn-success px-4 mx-4 rounded-pill" data-bs-toggle="modal" data-bs-target="#modalPayment">Pembayaran</a>
                            {% else %}
                                <button class="btn btn-sm btn-secondary px-4 mx-4 rounded-pill" disabled>Pembayaran</button>
                            {% endif %}
                        </div>
                        
                    </td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <div class="fst-italic mt-5 text-center" style="font-size: 15px;">
            Belum ada barang dalam penjualan, silakan <b>{{user.userprofile.nama_lengkap|upper}}</b> tekan tombol <b>pending</b> untuk melihat transaksi yang belum dilakukan pembayaran, atau tekan tombol <b>tambah barang</b> untuk menambah barang secara manual, atau arahkan barcode scanner untuk mulai penjualan. 
            <br><br>
            {% if user.is_superuser %}
            Silakan tekan tombol <b>Admin</b> untuk melakukan administrasi data.
            {% endif %}
        </div>
    {% endif %}
    </div>
{% endif %}
<script>
$(document).ready(function(){
    $('.search').on('keyup',function(){
        var searchTerm = $(this).val().toLowerCase();
        $('#tableBarang tbody tr').each(function(){
            var lineStr = $(this).text().toLowerCase();
            if(lineStr.indexOf(searchTerm) === -1){
                $(this).hide();
            }else{
                $(this).show();
            }
        });
    });
    $('.search-barang').on('keyup',function(){
        var searchTerm = $(this).val().toLowerCase();
        $('#tableMasterBarang tbody tr').each(function(){
            var lineStr = $(this).text().toLowerCase();
            if(lineStr.indexOf(searchTerm) === -1){
                $(this).hide();
            }else{
                $(this).show();
            }
        });
    });
    $('.search-pending').on('keyup',function(){
        var searchTerm = $(this).val().toLowerCase();
        $('#tablePendingTransaksi tbody tr').each(function(){
            var lineStr = $(this).text().toLowerCase();
            if(lineStr.indexOf(searchTerm) === -1){
                $(this).hide();
            }else{
                $(this).show();
            }
        });
    });
});
</script>
{% endblock %}