db.sqlite3
pos/migrations
stock/migrations
cms/migrations
cara/migrations
promo/migrations
kelontong_mami/settings.py
pos/__pycache__
kelontong_mami/__pycache__
cms/__pycache__
stock/__pycache__
payment/__pycache__
promo/__pycache__
cara/__pycache__
static_root
.env
media
venv
venv-linux
__pycache__
jobs/__pycache__
jobs/migrations
resep/__pycache__
resep/migrations
download_history