<div class="row g-3">
  <div class="col-12 col-md-6">
    <label class="form-label fw-bold">Nama Paket</label>
    <input type="text" name="nama" class="form-control" required placeholder="cth: Bisnis Kecil">
  </div>
  <div class="col-12 col-md-3">
    <label class="form-label fw-bold">Maks Transaksi/Bulan</label>
    <input type="number" name="max_transaksi" class="form-control" min="0" value="0" required>
  </div>
  <div class="col-12 col-md-3">
    <label class="form-label fw-bold">Maks User Login</label>
    <input type="number" name="max_user_login" class="form-control" min="0" value="0" required>
  </div>
  <div class="col-12 col-md-4">
    <label class="form-label fw-bold">Harga per Bulan (Rp)</label>
    <input type="number" name="harga_per_bulan" class="form-control" min="0" value="0" required>
  </div>
  <div class="col-12 col-md-4">
    <label class="form-label fw-bold">Harga per 3 Bulan (Rp)</label>
    <input type="number" name="harga_per_tiga_bulan" class="form-control" min="0" value="0">
  </div>
  <div class="col-12 col-md-4">
    <label class="form-label fw-bold">Harga per 6 Bulan (Rp)</label>
    <input type="number" name="harga_per_enam_bulan" class="form-control" min="0" value="0">
  </div>
  <div class="col-12 col-md-4">
    <label class="form-label fw-bold">Harga per Tahun (Rp)</label>
    <input type="number" name="harga_per_tahun" class="form-control" min="0" value="0">
  </div>
  <div class="col-12 col-md-4">
    <label class="form-label fw-bold">Harga per 2 Tahun (Rp)</label>
    <input type="number" name="harga_per_dua_tahun" class="form-control" min="0" value="0">
  </div>
  <div class="col-12 col-md-4">
    <label class="form-label fw-bold">Diskon (%)</label>
    <input type="number" name="disc" class="form-control" min="0" max="100" value="0">
  </div>
</div>
