<div id="gantiPasswordNya">
    <!-- Modal -->
    <div class="modal fade" id="staticGantiPassword"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticGantiPasswordLabel" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticGantiPasswordLabel">Ganti Password</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

            <form  action="{{callback}}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <table class="table">
                        <tr>
                            <th>Nama Pengguna</th>
                            <td>:</td>
                            <td style="padding-left: 5px;font-weight: bold;">{{username|lower}}</td>
                        </tr>
                        <tr>
                            <th>Kode Login</th>
                            <td>:</td>
                            <td style="padding-left: 5px;font-weight: bold;">{{nama_lengkap|title}}</td>
                        </tr>
                        <tr>
                            <th>Password Baru</th>
                            <td>:</td>
                            <td><input required minlength="5" placeholder="password baru min. 5 karakter" class="form-control" type="password" name="pass1" id=""></td>
                        </tr>
                        <tr>
                            <th>Konfirmasi</th>
                            <td>:</td>
                            <td><input required minlength="5" placeholder="password baru min. 5 karakter" class="form-control" type="password" name="pass1" id=""></td>
                        </tr>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-primary btn-sm">Ubah</button>
                  </div>
                </div>
            </form>
        
        
    </div>
  </div>

</div>