{% load humanize %}
<!-- Modal -->
<div class="modal fade" id="staticDetailTransaksi" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticDetailTransaksiLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticDetailTransaksiLabel">Detail Transaksi</h5>
          
        </div>
        <div class="modal-body">
          <div id="detailTransaksi">

          </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div> -->
      </div>
    </div>
</div>


{% if transaksi %}
<div>
    <table id="datasetTrxBulanLain"  >
        <thead>
            <tr>
                <th>No.</th>
                <th>ID Transaksi</th>
                <th>Items</th>
                <th>Jumlah</th>
                <th>Customer</th>
                <th>Kasir</th>
                <th>Tanggal</th>
                <th class="text-center">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for trx in transaksi %}
            <tr style="padding-bottom: 10px;border-bottom: 1px solid lightgrey;">
                <td>{{forloop.counter}} </td>
                <td  style="font-size: 14px;">
                    {{trx.nota}}<br>
                    <a target="_blank" href="{% url 'detail_penjualan_histori' %}?id={{trx.nota}}" class="btn btn-sm btn-info rounded-pill  px-3" style="padding:0">Lihat Detail</a>
                </td>
                <td>{{trx.items}}</td>
                <td>Rp.{{trx.total|intcomma}}</td>
                <td>{{trx.customer}}</td>
                <td>{{trx.user.username}}</td>
                <td >{{trx.tgl_bayar|date:"d/m/Y"}}<br><span style="font-size: 12px;font-weight: bold;">{{trx.tgl_bayar|date:"h:m:s"}}</span></td>
                <td class="text-center">
                    {% if trx.is_void %}
                        <span class="text-danger fw-bold fst-italic">Batal</span>
                    {% else %}
                        <span class="text-success fw-bold">Sukses</span><br>
                        <a href="#" class="btn btn-sm btn-danger rounded-pill">Batalkan</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor%}
        </tbody>
        <!-- <tfoot>
            <tr>
                {% for headers in df_headers %}
                <th>{{headers}}</th>
                {% endfor %}
            </tr>
        </tfoot> -->
    </table>
    <script>
        new DataTable('#datasetTrxBulanLain',{
            language: {
                search: "Pencarian Data: ",
            },
            pageLength: 10
        });
    </script>
</div>
{% else %}
<div class=" fst-italic mt-3">
        Tidak ada penjualan di bulan yang Anda cari.
</div>
{% endif %}