{% load humanize %}
<!-- Modal Detail Wallet-->
<div class="modal fade" id="staticWallet" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropWallet" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropWallet">Detail Transaksi Referensi</h5>
          
        </div>
        <div class="modal-body">
            <table id="detailwallet" class="display">
                <thead>
                    <tr>
                        <th style="font-size: 15px;">No.</th>
                        <th style="font-size: 15px;">Toko</th>
                        <th style="font-size: 15px;">Keterangan</th>
                        <th style="font-size: 15px;">Jumlah</th>
                        <th style="font-size: 15px;">Tanggal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for wallet in detailwallet %}
                    <tr>
                        <td style="font-size: 15px;">{{forloop.counter}}</td>
                        <td style="font-size: 15px;">{{wallet.cabang_referensi.nama_toko}} ({{wallet.cabang_referensi.prefix}})</td>
                        <td style="font-size: 15px;">{{wallet.keterangan}}</td>
                        <td style="font-size: 15px;">Rp.{{wallet.jumlah|intcomma}}</td>
                        <td style="font-size: 15px;">{{wallet.created_at|date:"d/M/Y"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
        </div>
      </div>
    </div>
</div>

<script>
    new DataTable('#detailwallet');
</script>

<div>
    <div class="mt-3 h2 fw-bold">
        Informasi Toko Saya
    </div>
    <div class="mb-5  d-flex justify-content-between">
        <span class="fs-6">Toko Saya &rarr; Informasi Toko</span>
        <span style="font-size: 13px;font-weight: bold;">Update Terakhir: {{user.userprofile.cabang.updated_at|date:"d/m/y"}}</span>
    </div>
    {% if user.userprofile.cabang.paket %}
        <div class="my-3">
            <div style="border: 1px solid grey; padding: 10px;border-radius: 5px;background-color: white;box-shadow: 5px 5px 5px lightgrey;display: flex;align-items: center;justify-content: space-between;">
                <div>    
                    <div style="font-size: 20px;">
                        Wallet Bonus: <span class="text-primary">Rp.{{wallet|intcomma}}</span>
                    </div>
                    <div style="font-style: italic;">
                        Referensikan Toko Lain untuk menambah wallet
                    </div>
                </div>
                <div>
                    <button class="btn btn-info btn-sm ms-3" data-bs-toggle="modal" data-bs-target="#staticWallet">detail wallet</button>
                    <button class="ms-3 btn btn-sm btn-success">tarik wallet</button>
                </div>
                
            </div>
        </div>
    {% endif %}

    <form action="{% url 'info_toko'%}?id={{user.userprofile.cabang.id}}" method="post">
        <div style="font-size: 20px;margin-top: 20px;margin-bottom: 10px;border-top: 1px solid grey;border-bottom: 1px solid grey;">
            <span>Kode Toko: <span style="font-weight: bold;">{{kode_toko}}</span></span>
            {% if user.userprofile.cabang.paket %}
                <br><span style="font-style: italic;font-size: 15px;">bagikan kode toko sebagai referensi untuk mendapatkan bonus 5% setiap pembayaran untuk  pembelian dari Toko yang sobat refensikan, berlaku selamanya.</span>
                <br><span style="font-style: italic;font-size: 15px;">penarikan dana dari wallet akan langsung masuk rekening sobat, jangan lupa untuk mendaftarkan rekening sobat yah.</span>
            {% endif %}
        </div>
        {{forms.as_div}}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary px-3 rounded-pill">
            Ubah Informasi
        </button>
    </form>
</div>