{% load humanize %}
<div>
    <div class="mt-3 h2 fw-bold">
        Daftar Barang
    </div>
    <div class="mb-5 fs-6">
        Barang &rarr; Daftar Barang
    </div>
    <div class="container my-2">
                                {% if messages %}
                                    {% for message in messages %}
                                    <div class="alert alert-primary alert-dismissible fade show " role="alert">
                                        <button type="button" class=" btn" data-bs-dismiss="alert" aria-label="Close">X</button>    
                                        <span>{{message}}</span>
                                            
                                    </div>
                                    
                                    {% endfor %}
                                {% endif %}
    </div>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div style="padding-left: 20px;border-left: 5px solid lightgrey;" class="fs-5 fw-bold ">
            Total: {{jumlah_barang|intcomma}} barang
        </div>
        <div>
            <a href="{% url 'download_barang'%}"  class="btn btn-info rounded-pill" style="padding-left: 20px;padding-right: 20px;">Download</a>
            <a hx-get="{% url 'tambah_barang_satuan'%}" hx-target="#mainpage" hx-trigger="click"  class="btn btn-success rounded-pill" style="padding-left: 20px;padding-right: 20px;">+ Tambah Barang Satuan</a>
        </div>
        
    </div>
    <table id="datasetBarang"  >
        <thead>
            <tr>
                <th>No.</th>
                <th>Nama Barang</th>
                <th class="text-center">Satuan</th>
                <th class="text-center">Stok</th>
                <th>Harga Beli</th>
                <th>Harga Ecer</th>
                <th>Min. Grosir</th>
                <th>Harga Grosir</th>
                <th>Terjual</th>
                <th>Tgl.Update</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for barang in barangs %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{barang.nama}}<br><span style="font-size: 12px;font-weight: bold;">({{barang.barcode}})</span></td>
                <td class="text-center">{{barang.satuan}}</td>
                <td class="text-center">{{barang.stok|intcomma}}</td>
                <td>Rp.{{barang.harga_beli|intcomma}}.00</td>
                <td>Rp.{{barang.harga_ecer|intcomma}}.00</td>
                <td class="text-center">{{barang.min_beli_grosir}}</td>
                <td>Rp.{{barang.harga_grosir|intcomma}}.00</td>
                <td class="text-center">{{barang.jumlah_dibeli|intcomma}}</td>
                <td >{{barang.updated_at|date:"d/m/Y"}}<br><span style="font-size: 12px;font-weight: bold;">{{barang.updated_at|date:"H:i:s"}}</span></td>
                <td>
                    <a href="{% url 'hapus_barang'%}?id={{barang.id}}"  class="btn btn-sm btn-danger p-1 m-2 text-white"><i class="fa fa-trash text-white" aria-hidden="true"></i></a>
                    <a href="{% url 'edit_barang'%}?id={{barang.id}}"  target="_blank" class="btn btn-sm btn-info p-1 m-2"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td>
            </tr>
            <!-- <tr style="padding-bottom: 15px;border-bottom: 1px solid lightgrey;">
                <td colspan="11"><b>Keterangan:</b>{{barang.keterangan|upper}}</td>
            </tr> -->
            {% endfor%}
        </tbody>
        <!-- <tfoot>
            <tr>
                {% for headers in df_headers %}
                <th>{{headers}}</th>
                {% endfor %}
            </tr>
        </tfoot> -->
    </table>
    <script>
        new DataTable('#datasetBarang',{
            language: {
                search: "Pencarian Data: ",
            }
        });
    </script>
</div>