{% include 'administrator/components/ganti-password.html'%}
<div class="h3 ms-4 fw-bold">
    Daftar Pengguna
</div>
<div class="ms-4">
    Kasir &rarr; Daftar Kasir
</div>
<div class="container my-2">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show " role="alert">
            <button type="button" class=" btn" data-bs-dismiss="alert" aria-label="Close">X</button>    
            <span>{{message}}</span>
                
        </div>
        
        {% endfor %}
    {% endif %}
</div>
<div class="bg-white p-3">
    <table class="table bg-white">
            <tr>
                <th>No.</th>
                <th>Username</th>
                <th>Nama Lengkap</th>
                <th>Ijin</th>
                <th>Status</th>
                <th style="min-width: 200px;"></th>
            </tr>
            
            {% for usernya in list_user %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{usernya.username}}</td>
                    <td>{{usernya.userprofile.nama_lengkap}}</td>
                    <td>{% if usernya.is_superuser %}Pemilik Toko{%else%}Kasir{%endif%}</td>
                    <td style="min-width: 200px;">
                        {% if usernya.userprofile.is_active%}
                            <span style="color: green;">Aktif</span>
                        {% else %}
                            <span style="color:red">Tidak Aktif</span>
                        {% endif %}
                    </td>
                    <td>
                        <button class="btn btn-sm btn-info mx-2 m-1 rounded" hx-get="{% url 'detail_pengguna'%}?id={{usernya.id}}" hx-trigger="click" hx-target="#mainpage"><i class="fa fa-pencil-square-o"  aria-hidden="true"></i> update pengguna</button>
                        {% if usernya.is_superuser %} 
                        {% else %}
                            {% if usernya.userprofile.is_active %}
                                <button class="btn btn-sm btn-danger mx-2 m-1 rounded" hx-get="{% url 'update_status_kasir'%}?id={{usernya.id}}&status=1" hx-trigger="click" hx-target="#mainpage"><i class="fa fa-window-close" aria-hidden="true"></i> non aktifkan</button>
                            {% else %}
                                <button class="btn btn-sm btn-success mx-2 m-1 rounded" hx-get="{% url 'update_status_kasir'%}?id={{usernya.id}}&status=0"  hx-trigger="click" hx-target="#mainpage"><i class="fa fa-thumbs-up" aria-hidden="true"></i> aktifkan lagi</button>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        
    </table>
</div>
