{% load humanize %}
<div>
    <div class="mt-3 h2 fw-bold">
        Log Transaksi
    </div>
    
    <table id="datasetLog"  >
        <thead>
            <tr>
                <th>No.</th>
                <th>User</th>
                <th>Transaksi</th>
                <th>Keterangan</th>
                <th>Tanggal</th>
            </tr>
        </thead>
        <tbody>
            {% for log in log_list %}
            <tr style="padding-bottom: 10px;border-bottom: 1px solid lightgrey;">
                <td>{{forloop.counter}}</td>
                <td>{{log.user.username}}</td>
                <td>{{log.transaksi}}</td>
                <td>{{log.keterangan}}</td>
                <td>{{log.created_at|date:"d/M/Y"}}<br>{{log.created_at|date:"H:i:s"}}</td>
            </tr>
            {% endfor%}
        </tbody>
        <!-- <tfoot>
            <tr>
                {% for headers in df_headers %}
                <th>{{headers}}</th>
                {% endfor %}
            </tr>
        </tfoot> -->
    </table>
    <script>
        new DataTable('#datasetLog',{
            language: {
                search: "Pencarian Data: ",
            }
        });
    </script>
</div>