<div>
    <div class="mt-3 h2 fw-bold">
        Tambah Barang
    </div>
    <div class="mb-5 fs-6 px-1">
        Barang &rarr; Tambah Barang 
    </div>
    {% if messages %}
                                    {% for message in messages %}
                                    <div class="alert alert-primary alert-dismissible fade show " role="alert">
                                        <button type="button" class=" btn" data-bs-dismiss="alert" aria-label="Close">X</button>    
                                        <span>{{message}}</span>
                                            
                                    </div>
                                    
                                    {% endfor %}
    {% endif %}
    <div class="mt-5 p-2">
        <div class="border rounded border-secondary border-2 d-flex justify-content-center align-items-center px-3" style="min-height: 300px;max-height: 300px;">
            <div style="min-width: 300px; text-align: center;">
                <form hx-post="{% url 'tambah_barang'%}" hx-target="#mainpage" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="d-flex justify-content-center" style="height: 50px;">
                        <span class="pe-3 pt-2">Pilih File Template: </span>
                        <input class="form-control w-50" style="height: 45px;" type="file" name="file" accept=".xlsx,.xls" id="file" required >
                    </div>
                    <span><button type="submit" class="btn btn-primary my-2">Upload Barang</button></span><br>
                    <p style="font-size: 15px;text-align: left !important;">
                        <strong style="margin-left: 25px;">Catatan:</strong>  <br>
                        <ol style="font-size: 15px;text-align: left !important;">
                            <li>Silakan download <a href="{% url 'download_template'%}" class="rounded-pill btn btn-sm btn-warning">file template</a> dan mengisikan data barang</li>
                            <li>Apabila ada barang dengan kode barcode yang sama akan dilakukan update harga dan jumlah stok, jadi stok lama akan berubah</li>
                            <li>Setelah Upload untuk melakukan pengecekan barang silakan masuk ke menu Barang &rarr; Daftar Barang</li>
                            <li>File yang diperkenankan adalah tipe <b>xlsx</b> atau <b>xls</b>  (file excel)</li>
                        </ol> 
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>