<div>
    <div>Menambah Kasir</div>
    <div>
        <form action="" hx-post="{% url 'tambah_kasir'%}" hx-target="#mainpage" hx-trigger="submit">
            {% csrf_token %}
            <table class="table">
                <tr>
                    <td>Nama Lengkap:</td>
                    <td><input type="text" name="nama_lengkap" placeholder="Nama Lengkap"  class="form-control"></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password1" placeholder="Password"  class="form-control"></td>
                </tr>
                <tr>
                    <td>Konfirmasi:</td>
                    <td><input type="password" name="password2" placeholder="Konfirmasi Password"  class="form-control"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit"  value="tambah kasir" class="btn btn-sm btn-success px-3 rounded-pill">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>