{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.4/htmx.min.js" integrity="sha512-2kIcAizYXhIn8TzUvqzEDZNuDZ+aW7yE/+f1HJHXFjQcGNfv1kqzJSTBRBSlOgp6B/KZsz1K0a3ZTqP9dnxioQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.0/css/font-awesome.css" integrity="sha512-CB+XYxRC7cXZqO/8cP3V+ve2+6g6ynOnvJD6p4E4y3+wwkScH9qEOla+BTHzcwB4xKgvWn816Iv0io5l3rAOBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static 'images/posmi.ico'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if user.is_authenticated %}POSMI [{{user.username|upper}}]{% else %} POSMI APP{% endif %}</title>
    <style>
        body {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .orbitron {
              font-family: "Orbitron", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
        }

        .img-profile {
            min-width: 50px;
            max-width: 50px;
            min-height: 50px;
            max-height: 50px;
            margin-right: 30px;
            margin-left: 10px;
         }
    </style>
    {% block head %}{% endblock %}
</head>
<body>
    {% if user.is_authenticated %}
        {% include 'components/profile_kasir.html' %}
        <div class=" container fixed-top text-center rounded-top rounded-4  mb-4 py-3" style="background-color: rgb(38,75,93);height: 110px;">
            <div class="row d-flex justify-content-between px-2">
                
                <div class="d-none d-xl-block d-lg-block col-12 col-xl-3 col-lg-3 col-md-3 border rounded border-white p-2" style="height: 90px; background-color: rgb(65,118,144);">
                    <div class="text-white fw-bold fs-6  align-items-center d-flex justify-content-center pt-2">
                        {{toko|upper}}
                    </div>
                    <div class="text-white fs-6">
                        {{user.userprofile.cabang.nama_cabang|upper}}
                    </div>
                </div> 
                <div class="col-12 col-xl-6 col-lg-6 col-md-12">
                    <div class="text-center text-white">
                        Total Belanja:
                    </div>
                    <div class="orbitron fw-bold fs-1 pb-2  text-white fw-bold">
                        Rp. {{total|intcomma}}
                    </div>
                </div>
                <div class="d-none d-xl-block d-lg-block  col-12 col-xl-3 col-lg-3 col-md-3  text-white border border-white rounded" style="height: 90px;padding-top: 3px;background-color: rgb(65,118,144)">
                    <div class="text-white   align-items-center d-flex text-start justify-content-start mt-1" style="font-size:14px">
                        <span>
                            {% if user.userprofile.foto %}
                                <img class="img-profile rounded-circle" src="{{user.userprofile.foto.url}}">
                            {% else %}
                                <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg'%}" >
                            {% endif %}
                        </span>
                        <span>
                            {{user.userprofile.nama_lengkap|upper|truncatechars:12}} [{{user.username}}]
                            <br>
                                <button class="btn btn-sm btn-danger px-2 rounded-pill " data-bs-toggle="modal" data-bs-target="#staticProfile" style="padding-top:0;padding-bottom: 0;padding-left: 20px !important;padding-right: 20px !important;">profile</button>
                            <br>
                            {{tanggal|date:"d M Y"}}
                        </span>
                    </div>
                    
                </div>
            </div>
            <!-- <p class="text-center fw-bold pb-2 border-bottom border-white fs-4 fw-bold text-white">{{toko}}</p>
            <p class=""></p>
            <p class="text-center text-white text-normal">
                <span class="py-2"></span>
                <span style="margin-left: 20px;"><a href="{% url 'logoutkan'%}" class="btn btn-secondary">logout</a></span>
            </p> -->
            
        </div>
        <div class="fixed-top rounded-bottom pb-3 container py-2" {% if user.is_authenticated %}style="margin-top: 110px;background-color: rgb(38,75,93)"{% else %}style="margin-top: 110px;background-color: white;border:1px solid grey;border-radius:5px;box-shadow:5px 5px 5px lightgrey"{%endif%}>
            <form method="post" action="{% url 'index_pos'%}?nota={{nota}}">
                {% csrf_token %}
                {% if user.is_authenticated %}
                    <div class="row">
                        <div class="col-12"><input type="text" name="kode" placeholder="SCAN BARCODE/ KETIK BARCODE" autofocus id="kode" class="form-control"></div>
                        <!-- <div class="col-1"><button class="btn btn-success" type="submit">+</button></div> -->
                    </div>
                
                
                    <!-- <div class="text-center fw-bold mb-3 fs-2">POS-MI versi 1.0</div>
                    <div class="fst-italic text-center mb-3">
                        Silakan Login terlebih dahulu untuk bisa melakukan penjualan
                    </div>
                    <div class="text-center">
                        <a href="{% url 'loginkan'%}" class="btn btn-primary">login</a>
                    </div> -->
                {% endif %}
            </form>
        </div>
        <div style="margin-top: 180px; margin-bottom: 110px;">
                <div class="container my-2">
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert text-center p-2 alert-primary" role="alert">
                                {{message}}
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="container">
                    {% block contents %}
                    {% endblock %}
                </div>
        </div>
        {% if bisa_transaksi %}
            {% if jumlah_grace < 8 %}
            <div class="text-center text-danger p-3 bg-white fw-bold">
                {% if jumlah_grace > 0 %}
                    Lisensi Aplikasi Akan Berakhir dalam {{jumlah_grace}} Hari. Silakan Hubungi Admin untuk Melakukan Perpanjangan Lisensi.
                {% else %}
                    Lisensi Aplikasi Akan Berakhir Hari ini. Silakan Hubungi Admin untuk Melakukan Perpanjangan Lisensi.
                {% endif %}
            </div>
            {% endif %}
        {% else %}
            <div class="text-center text-danger p-3 bg-white fw-bold">
                {% if jumlah_transaksi == 0 %}
                    {% if jumlah_grace > 0 %}
                        Jumlah Kuota Transaksi Sudah Habis, tidak bisa melakukan pembayaran. Silakan Hubungi Admin untuk melakukan top up kuota.
                    {% endif %}
                {% else %}
                    Lisensi Aplikasi Sudah Berakhir, Tidak bisa Melakukan Pembayaran. Silakan Hubungi Admin untuk Melakukan Perpanjangan Lisensi.
                {% endif %}
            </div>
        {% endif %}
        <div class=" bg-white py-3 px-2 text-center border-top border-secondary">
            <span class="fw-bold fs-5">POSMI APP versi 1.0</span> <br>
            <span class="fw-bold">&COPY; 2025 - by: Leopard Inc.</span>
        </div>
    {%  else %}
        {% include 'components/landing.html'%}
    {% endif %}
    
    
    
</body>
</html>