<div>
    <canvas id="myChart" style="width:100%;"></canvas>
</div>
<script>
    const xValues = ["Jan", "Feb", "Mar", "Apr", "Mei","Jun","Jul","Ags","Sep","Okt","Nov","Des"];
    // const yValues = [1000,2000,3000,{{april}},5000,6000,7000,8000,9000,10000,11000,{{januari}}];
    const yValues = [{{januari}},{{februari}},{{maret}},{{april}},{{mei}},{{juni}},{{juli}},{{agustus}},{{september}},{{oktober}},{{november}},{{desember}}];
    const barColors = ["red", "green","blue","purple","orange","brown","yellow","blueocean","violet","pink","turqoise"];
    // const barColors = [rgba(12, 40, 145, 0.8),rgba(209, 40, 145, 0.8),rgba(96, 170, 145, 0.8),rgba(96, 170, 33, 0.8),rgba(189, 52, 33, 0.8),rgba(140, 224, 33, 0.8),rgba(28, 224, 226, 0.8),rgba(114, 92, 226, 0.8),rgba(4, 201, 83, 0.8),rgba(4, 57, 161, 0.8),rgba(255, 138, 0, 0.8),rgba(110, 170, 71, 0.8)];

    new Chart("myChart", {
    type: "bar",
    data: {
        labels: xValues,
        datasets: [{
        backgroundColor: barColors,
        data: yValues
        }]
    },
    options: {
        legend: {display: false},
        scales: {
        yAxes: [{
            ticks: {
            beginAtZero: true
            }
        }]
        },

        title: {
        display: true,
        text: "Penjualan Tahun {{tahun}}"
        }
    }
    });

</script>