{% load static %}
<!-- Modal -->
<div class="modal fade" id="staticProfile" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticProfileLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticProfileLabel">Profil Saya</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          {% if user.userprofile.foto %}
            <img class=" rounded" style="width: 100px;height: 100px;box-shadow: 0px 0px 10px blue;" src="{{user.userprofile.foto.url}}">
          {% else %}
            <img class=" rounded" style="width: 100px;height: 100px;box-shadow: 0px 0px 10px blue;" src="{% static 'img/undraw_profile.svg'%}">
          {% endif %}
        </div>
        
        <div>
          <table class="table">
            <tr>
              <td>Nama Toko: </td>
              <td>{{user.userprofile.cabang.nama_toko}}</td>
            </tr>
            <tr>
              <td>Kode Toko: </td>
              <td>{{user.userprofile.cabang.prefix}}</td>
            </tr>
            <tr>
              <td>Nama Lengkap: </td>
              <td>{{user.userprofile.nama_lengkap}} ({{user.username}})</td>
            </tr>
            <tr>
              <td>Status: </td>
              <td>{% if user.is_superuser%}Pemilik Toko{% else %}Kasir{%endif%}</td>
            </tr>
            <tr>
              <td>Login Terakhir: </td>
              <td>{{user.last_login|date:"d/M/Y h:i:s"}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
      </div>
    </div>
  </div>
</div>