{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.4/htmx.min.js" integrity="sha512-2kIcAizYXhIn8TzUvqzEDZNuDZ+aW7yE/+f1HJHXFjQcGNfv1kqzJSTBRBSlOgp6B/KZsz1K0a3ZTqP9dnxioQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css">
    <link rel="icon" type="image/x-icon" href="{% static 'images/posmi.ico'%}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.min.js" integrity="sha512-a6ctI6w1kg3J4dSjknHj3aWLEbjitAXAjLDRUxo2wyYmDFRcz2RJuQr5M3Kt8O/TtUSp8n2rAyaXYy1sjoKmrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap-grid.min.css" integrity="sha512-LLxZHu50SXdFJdAzHmDJAoLaozhTB4BYZPoN+xdTRjiPmPhI+1mEJXdoHHiDWmd/jj/9x10pkd8mYGG9sqfPPA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>POSMI ADMIN</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">
    <style>
        .image-profile:hover {
            box-shadow: 0px 0px 10px blue;
            transition-duration: 0.5s;
        }
        .box-profile:hover {
            box-shadow: 0px 0px 20px lightgrey;
            transition-duration: 0.5s;
            color: black;
            border-radius: 5px;
        }
    </style>
</head>

<body id="page-top">
    <!-- Modal Ganti Email-->
    <div class="modal fade" id="staticGantiEmail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticGantiEmailLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title fw-bold" id="staticGantiEmailLabel">Ganti Email Toko</h5>
            </div>
            <form action="{% url 'ganti_email'%}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="d-flex justify-content-start">
                        <div style="min-width: 150px;">Email Lama:</div>
                        <div class="fw-bold">{{user.userprofile.cabang.email|lower}}</div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-start">
                        <div style="min-width: 150px;padding-top: 5px;">Email Baru:</div>
                        <div class="fw-bold"><input type="email" name="email_baru" required class="form-control" placeholder="@"></div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-start">
                        <div style="min-width: 150px;padding-top: 5px;">Password:</div>
                        <div class="fw-bold"><input type="password" name="password" required class="form-control" placeholder="password"></div>
                    </div>
                    <hr>
                    <div style="font-size: 14px;text-align: justify;padding: 5px;border-radius: 5px;">
                        <div class="border border-primary rounded p-2">
                            Note:<br>
                            Untuk melakukan penggantian email harus memasukkan password. Setelah klik ganti Email, silakan cek email untuk konfirmasi perubahan email.
                        </div>
    
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                    <button type="submit" class="btn btn-primary">Ganti Email</button>
                </div>
            </form>
        </div>
        </div>
    </div>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center mt-2" href="/cms/">
                <div class="sidebar-brand-text  fs-bold">
                    <img src="{% static 'images/posmi-logo.png'%}" style="width: 180px;height: 70px; margin-top: 10px;border-radius: 10px;box-shadow: 5px 5px 5px lightgrey;" alt="">
                </div>
            </a>
            <div class="mt-4 mb-3">
                    <div class="text-center" >
                        <span style="font-size: 14px; color: white;" class=" fw-bold">&copy;2025
                        <span style="font-size: 14px; color:white;" class=" fw-bold">- Leopard, Inc.</span>
                    </div>
            </div>

            <!-- Nav Item - Dashboard -->
            
            <li class="nav-item active" >
                <a class="nav-link d-flex p-2  justify-content-between border-top border-bottom border-white border-2" style="background-color: rgba(0, 128, 170, 0.568) !important;" href="/">
                        <span style="padding-left: 10px;">PENJUALAN</span>
                        <span style="padding-right: 10px;font-weight: BOLD;">&gt;</span>
                </a>
            </li>
            <!-- <hr class="sidebar-divider"> -->
            <li class="nav-item active" style="margin-top:-5px">
                <a class="nav-link" href="/cms/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Master Data
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Toko Saya</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Informasi Detail Toko</h6>
                        <a class="collapse-item"
                            hx-get="{% url 'info_toko'%}"
                            hx-target="#mainpage" href="#">Informasi Toko</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Barang</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Pengaturan Barang</h6>
                        <a class="collapse-item" href="#" hx-get="{% url 'daftar_barang'%}" hx-target="#mainpage">Daftar Barang</a>
                        <a class="collapse-item" href="#" hx-get="{% url 'tambah_barang_satuan'%}" hx-target="#mainpage">Tambah Barang Satuan</a>
                        <a class="collapse-item" href="#" hx-get="{% url 'tambah_barang'%}" hx-target="#mainpage">Upload/ Update Barang</a>
                    </div>
                </div>
            </li>
            {% if user.userprofile.cabang.paket %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers"
                    aria-expanded="true" aria-controls="collapseUsers">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Kasir</span>
                </a>
                <div id="collapseUsers" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Pengaturan Kasir</h6>
                        <a class="collapse-item" href="#" hx-get="{% url 'daftar_kasir'%}" hx-target="#mainpage">Daftar Kasir</a>
                        <a class="collapse-item" href="#" hx-get="{% url 'tambah_kasir'%}" hx-target="#mainpage">Tambah Kasir</a>
                    </div>
                </div>
            </li>
            {% endif %}

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Transaksi
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Histori</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Histori Transaksi</h6>
                        <a class="collapse-item" href="#" hx-get="{% url 'transaksi_bulan_berjalan'%}" hx-target="#mainpage">Transaksi Bulan {{bulan}}</a>
                        <a class="collapse-item" href="#" hx-get="{% url 'transaksi_bulan_lain'%}" hx-target="#mainpage">Histori Transaksi</a>
                        <!-- <a class="collapse-item" href="forgot-password.html">Forgot Password</a> -->
                        <div class="collapse-divider"></div>
                        <!-- <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="404.html">404 Page</a>
                        <a class="collapse-item" href="blank.html">Blank Page</a> -->
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li> -->

            <!-- Nav Item - Tables -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span></a>
            </li> -->

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
           
            <!-- Sidebar Message
            <div class="sidebar-card d-none d-lg-flex">
                <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">
                <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
                <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
            </div> -->

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column mb-5">

            <!-- Main Content -->
            <div id="content">
                
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <!-- <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form> -->

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        {% if alert %}
                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-bell fa-fw"></i>
                                    <!-- Counter - Alerts -->
                                    <span class="badge badge-danger badge-counter">3+</span>
                                </a>
                                <!-- Dropdown - Alerts -->
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                    aria-labelledby="alertsDropdown">
                                    <h6 class="dropdown-header">
                                        Alerts Center
                                    </h6>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-primary">
                                                <i class="fas fa-file-alt text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">December 12, 2019</div>
                                            <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-success">
                                                <i class="fas fa-donate text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">December 7, 2019</div>
                                            $290.29 has been deposited into your account!
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-warning">
                                                <i class="fas fa-exclamation-triangle text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">December 2, 2019</div>
                                            Spending Alert: We've noticed unusually high spending for your account.
                                        </div>
                                    </a>
                                    <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                </div>
                            </li>
                        {% endif %}

                        <!-- Nav Item - Messages -->
                        {% if notif %}
                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-envelope fa-fw"></i>
                                    <!-- Counter - Messages -->
                                    <span class="badge badge-danger badge-counter">7</span>
                                </a>
                                <!-- Dropdown - Messages -->
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                    aria-labelledby="messagesDropdown">
                                    <h6 class="dropdown-header">
                                        Message Center
                                    </h6>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                                alt="...">
                                            <div class="status-indicator bg-success"></div>
                                        </div>
                                        <div class="font-weight-bold">
                                            <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                                problem I've been having.</div>
                                            <div class="small text-gray-500">Emily Fowler · 58m</div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="img/undraw_profile_2.svg"
                                                alt="...">
                                            <div class="status-indicator"></div>
                                        </div>
                                        <div>
                                            <div class="text-truncate">I have the photos that you ordered last month, how
                                                would you like them sent to you?</div>
                                            <div class="small text-gray-500">Jae Chun · 1d</div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="img/undraw_profile_3.svg"
                                                alt="...">
                                            <div class="status-indicator bg-warning"></div>
                                        </div>
                                        <div>
                                            <div class="text-truncate">Last month's report looks great, I am very happy with
                                                the progress so far, keep up the good work!</div>
                                            <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                                alt="...">
                                            <div class="status-indicator bg-success"></div>
                                        </div>
                                        <div>
                                            <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                                told me that people say this to all dogs, even if they aren't good...</div>
                                            <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                                </div>
                            </li>
                        {% endif %}

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="box-profile nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="">
                                    <div class="mr-2 d-none d-lg-block text-dark fw-bold small border-bottom border-dark">{{user.userprofile.nama_lengkap}}</div>
                                    <div class="mr-2 d-none d-lg-block text-dark fw-bold small">@{{user.username}}</div>
                                </div>
                                
                                {% if user.userprofile.foto %}
                                <img class="img-profile rounded-circle image-profile"
                                    src="{{user.userprofile.foto.url}}">
                                {% else %}
                                <img class="img-profile rounded-circle image-profile"
                                    src="{% static 'img/undraw_profile.svg'%}">
                                {% endif %}
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <!-- <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a> -->
                                <!-- <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a> -->
                                <a class="dropdown-item" hx-get="{% url 'view_log'%}" hx-target="#mainpage" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Log Transaksi
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div>
                            <div class="container my-2">
                                {% if messages %}
                                    {% for message in messages %}
                                    <div class="alert alert-primary alert-dismissible fade show " role="alert">
                                        <button type="button" class=" btn" data-bs-dismiss="alert" aria-label="Close">X</button>    
                                        <span>{{message}}</span>
                                            
                                    </div>
                                    
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="container">
                                {% block contents %}
                                {% endblock %}
                            </div>
                    </div>
                    <div id="mainpage">
                        <!-- Page Heading -->
                         <hr class="border  border-5">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <div class="h3 mb-0 text-gray-800">
                                {{user.userprofile.cabang.nama_toko}} (<i>{{user.userprofile.cabang.nama_cabang|title}}</i>)<br>
                                <div class="d-flex justify-content-start mt-2">
                                    <div style="font-size: 15px;min-width: 60px;">Alamat</div> 
                                    <div style="font-size: 15px;font-weight: bold;">: {{user.userprofile.cabang.alamat_toko|title}}</div>
                                </div>
                                <div class="d-flex justify-content-start">
                                    <div style="font-size: 15px;min-width: 60px;">Email</div> 
                                    <div style="font-size: 15px;font-weight: bold;">: {{user.userprofile.cabang.email|lower}}</div>
                                </div>
                                <div class="d-flex justify-content-start">
                                    <div style="font-size: 15px;min-width: 60px;"></div> 
                                    <div style="font-size: 15px;font-weight: bold;padding-left: 7px;padding-top: 5px;"> <a href="#" class="btn btn-sm btn-info px-4 p-0" data-bs-toggle="modal" data-bs-target="#staticGantiEmail">Ubah Email Toko</a></div>
                                </div>
                            </div>
                            <div class="p-2">
                                
                                {% if user.userprofile.cabang.paket%}
                                    {% if user.userprofile.cabang.paket.nama == "Bisnis Kecil" %}
                                        <div class="p-2 fs-5 rounded border border-primary text-primary border-2 text-center">
                                            BISNIS KECIL
                                        </div>    
                                        <div class="mt-2" style="font-size: 14px;">
                                            max. {{user.userprofile.cabang.paket.max_transaksi|intcomma}} transaksi/bulan
                                        </div>
                                        <div>
                                            <a target="_blank" href="{% url 'upgrade_paket_admin' user.userprofile.cabang.prefix %}" class="btn btn-sm btn-success rounded w-100">upgrade paket bisnis</a>
                                        </div>
                                    {% else %}
                                        <div class="p-2 rounded fs-5 border border-success border-2 text-success text-center">
                                            BISNIS MEDIUM
                                        </div>
                                        <div class="mt-2" style="font-size: 14px;">
                                            max. {{user.userprofile.cabang.paket.max_transaksi|intcomma}} transaksi/bulan
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="p-2 rounded border fs-5 border-secondary border-2 text-center fw-bold">
                                        PAKET DASAR
                                    </div>
                                    <div class="mt-2" style="font-size: 14px;">
                                            max. 100 transaksi/bulan
                                    </div>
                                    <div>
                                        <a target="_blank" href="{% url 'upgrade_paket_admin' user.userprofile.cabang.prefix %}" class="btn btn-sm btn-success rounded w-100">upgrade paket bisnis</a>
                                    </div>
                                {% endif %}    
                            </div>
                        </div>
                        <hr class="border border-1">

                        <!-- Content Row -->
                        <div class="row">
                            <div class="col-xl-6 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-size: 15px !important;">
                                                    Lisensi Expired Tanggal</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800 d-flex justify-content-between">
                                                    <span>{{user.userprofile.cabang.lisensi_expired|date:"d/M/Y"}}</span>
                                                    {% if is_perpanjangan %}
                                                        <a href="#" class="btn btn-sm btn-info">Perpanjang Lisensi?</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <!-- <div class="col-auto">
                                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6 mb-4">
                                <div class="card border-left-warning shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-size: 15px !important;">
                                                    Sisa Kuota Transaksi</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800 d-flex justify-content-between">
                                                    <span>{{user.userprofile.cabang.kuota_transaksi|intcomma}}</span>
                                                    <a target="_blank" href="{% url 'tambah_kuota_admin' user.userprofile.cabang.prefix%}" class="btn btn-sm btn-info">Tambah Kuota?</a>
                                                </div>
                                            </div>
                                            <!-- <div class="col-auto">
                                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-xl-6 col-md-6 mb-4">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-size: 15px !important;">
                                                    Total Penjualan Per bulan<br>({{bulan}} {{tahun}})</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    {% if total_penjualan_sebulan %}
                                                       Rp.{{total_penjualan_sebulan|intcomma}}.00
                                                    {% else %}
                                                       Rp.0.00
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <!-- <div class="col-auto">
                                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-xl-6 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1" style="font-size: 15px !important;">
                                                    Total Penjualan Per tahun<br>({{tahun}})</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    {% if total_penjualan_setahun %}    
                                                        Rp.{{total_penjualan_setahun|intcomma}}.00
                                                    {% else %}
                                                        Rp.0.00
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <!-- <div class="col-auto">
                                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Total Barang Card Example -->
                            <div class="col-xl-4 col-md-6 mb-4">
                                <div class="card border-left-info shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1"style="font-size: 15px !important;">
                                                    Jumlah Barang<br>(Per {{bulan}} {{tahun}})</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{jumlah_barang|intcomma}}</div>
                                            </div>
                                            <!-- <div class="col-auto">
                                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-xl-4 col-md-6 mb-4">
                                <div class="card border-left-warning shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1" style="font-size: 15px !important;">
                                                    Jumlah Pembeli<br>({{bulan}} {{tahun}})</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{jumlah_penjualan|intcomma}}</div>
                                            </div>
                                            <!-- <div class="col-auto">
                                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            

                            <!-- Pending Requests Card Example -->
                            <div class="col-xl-4 col-md-6 mb-4">
                                <div class="card border-left-danger shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1" style="font-size: 15px !important;">
                                                    Pending Transaksi<br>({{bulan}} {{tahun}})</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{pending_penjualan|intcomma}}</div>
                                            </div>
                                            <!-- <div class="col-auto">
                                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- untuk cart -->
                        <div class="row px-2 my-2">
                            <div class="col-12 col-xxl-6 col-xl-6 col-lg-6 my-3">
                                {% include 'components/charts.html'%}
                            </div>
                            <div class="col-12 col-xxl-6 col-xl-6 col-lg-6 my-3">
                                {% include 'components/charts2.html'%}
                            </div>
                        </div>
                        <!-- untuk cart -->
                        {% if jumlah_penjualan > 0 %}
                            <div class="row px-2 my-2">
                                <div class="col-12 col-xxl-6 col-xl-6 col-lg-6 my-3">
                                    {% include 'components/charts3.html'%}
                                </div>
                                <div class="col-12 col-xxl-6 col-xl-6 col-lg-6 my-3">
                                    {% include 'components/charts4.html'%}
                                </div>
                            </div>
                        {% else %}
                            <div class="py-3 border-top border bottom border-secondary mY-3 text-center">
                                BELUM ADA PENJUALAN BULAN {{bulan|upper}} {{tahun}}
                            </div>
                        {% endif %}
                    </div>
            </div>
            <!-- End of Main Content -->

           

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Akan Keluar?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Silakan Klik Logout Untuk Keluar dari Sistem.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'logoutkan'%}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Core plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js'%}"></script>

</body>

</html>